<div class="container">
  <form (ngSubmit)="onSearch()">
    <div class="col-md-2">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" name="title" [value]="filters.title || ''"
        #title (keyup)="onChanged(title.value, rating.value, countr.value, genr.value, dur.value)"/>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="rating">Rating (At least):</label>
        <input type="text" class="form-control" id="rating" name="rating" [value]="filters.rating || ''"
        #rating (keyup)="onChanged(title.value, rating.value, countr.value, genr.value, dur.value)">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="countries">Countries:</label>
        <select name="countries" id="countries" class="form-control" 
        #countr (change)="onChanged(title.value, rating.value, countr.value, genr.value, dur.value)">
          <option>None</option>
          <option *ngFor="let country of countries" [selected]="country == filters.countries ? 'selected' : ''">
            {{country}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="genres">Genres:</label>
        <select name="genres" id="genres" class="form-control" 
        #genr (change)="onChanged(title.value, rating.value, countr.value, genr.value, dur.value)">
          <option>None</option>
          <option *ngFor="let genre of genres" [selected]="genre == filters.genres ? 'selected': ''">
            {{genre}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="duration">Duration (At most):</label>
        <input type="text" class="form-control" id="duration" name="duration" [value]="filters.length || ''"
        #dur (keyup)="onChanged(title.value, rating.value, countr.value, genr.value, dur.value)">
      </div>
    </div>
  </form>
</div>

