<div class="container">
  <div class="col-md-2">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" name="title" [value]="filters.title || ''" #title (keyup)="onChanged(title.value, rating.value, countr.value, genr.value, dur.value)"
      />
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="rating">Rating (At least):</label>
      <input type="text" class="form-control" id="rating" name="rating" [value]="filters.rating || ''" #rating (keyup)="onChanged(title.value, rating.value, countr.value, genr.value, dur.value)">
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="countries">Countries:</label>
      <select name="countries" id="countries" class="form-control" #countr (change)="onChanged(title.value, rating.value, countr.value, genr.value, dur.value)">
          <option>None</option>
          <option *ngFor="let country of countries" [selected]="country == filters.countries ? 'selected' : ''">
            {{country}}
          </option>
        </select>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="genres">Genres:</label>
      <select name="genres" id="genres" class="form-control" #genr (change)="onChanged(title.value, rating.value, countr.value, genr.value, dur.value)">
          <option selected>None</option>
          <!--[selected]="genre == filters.genres ? 'selected': ''"-->
          <option *ngFor="let genre of genres" >
            {{genre}}
          </option>
        </select>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="duration">Duration (At most):</label>
      <input type="text" class="form-control" id="duration" name="duration" [value]="filters.length || ''" #dur (keyup)="onChanged(title.value, rating.value, countr.value, genr.value, dur.value)">
    </div>
  </div>
</div>
<div class="row">
  <div class="row">
    Genres:
    <span class="label label-info" *ngFor="let genre of filters.genres">
       <span class="label label-info" (click)="removeGenre(genre)">-</span> {{genre}}
    </span>
  </div>
  <div class="row">
    Countries:
    <span class="label label-info" *ngFor="let country of filters.countries">
       <span class="label label-info" (click)="removeCountry(country)">-</span> {{country}}
    </span>
  </div>
</div>